<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>

<link type="text/css" href="/plugin/bootstrap/css/bootstrap.css"></link>
</head>
<body>This is web home

<input type="button" onclick="fetchJSONMap()"></input>
</body>

<script src="/js/jq/jquery-3.2.1.js"></script>
<script src="/js/react/react.js"></script>
<script src="/js/react/react-dom.js"></script>
<script src="/plugin/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/sys/user/user.js"></script>
</html>